<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>sendMailServlet</servlet-name>
        <servlet-class>deal.sendMail.sendMailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sendMailServlet</servlet-name>
        <url-pattern>/sendMailServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserInfoList</servlet-name>
        <servlet-class>wxServlet.UserInfoList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoList</servlet-name>
        <url-pattern>/UserInfoList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deposit</servlet-name>
        <servlet-class>finishServlet.deposit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deposit</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>buy</servlet-name>
        <servlet-class>finishServlet.buy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>deal.register.register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>deal.resetPassword.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPasswordServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sell</servlet-name>
        <servlet-class>finishServlet.sell</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sell</servlet-name>
        <url-pattern>/sell</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getWeatherServlet</servlet-name>
        <servlet-class>deal.getData.getWeatherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getWeatherServlet</servlet-name>
        <url-pattern>/getWeatherServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>listener.GetListener</listener-class>
    </listener>

</web-app>