<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <welcome-file-list>
        <welcome-file>LoginAndRegister.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>sendMailServlet</servlet-name>
        <servlet-class>operations.LoginAndRegister.sendMail.sendMailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sendMailServlet</servlet-name>
        <url-pattern>/sendMailServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserInfoList</servlet-name>
        <servlet-class>wxServlet.UserInfoList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoList</servlet-name>
        <url-pattern>/UserInfoList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deposit</servlet-name>
        <servlet-class>operations.trade.deposit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deposit</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>buy</servlet-name>
        <servlet-class>operations.trade.buy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>buy</servlet-name>
        <url-pattern>/buy</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>operations.LoginAndRegister.register.register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>resetPasswordServlet</servlet-name>
        <servlet-class>operations.LoginAndRegister.resetPassword.resetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>resetPasswordServlet</servlet-name>
        <url-pattern>/resetPasswordServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>sell</servlet-name>
        <servlet-class>operations.trade.sell</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sell</servlet-name>
        <url-pattern>/sell</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getWeatherServlet</servlet-name>
        <servlet-class>operations.getData.getWeatherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getWeatherServlet</servlet-name>
        <url-pattern>/getWeatherServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete_order_history</servlet-name>
        <servlet-class>operations.trade.delete_order_history</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete_order_history</servlet-name>
        <url-pattern>/delete_order_history</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>delete_user</servlet-name>
        <servlet-class>operations.trade.delete_user</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete_user</servlet-name>
        <url-pattern>/delete_user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update_user</servlet-name>
        <servlet-class>operations.trade.update_user</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update_user</servlet-name>
        <url-pattern>/update_user</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>listener.GetListener</listener-class>
    </listener>

</web-app>